#profil {
  display: flex;
}
.contentSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.speech,
.GBSection {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speech {
  flex-direction: column;
}
.speech p {
  text-align: center;
  margin: 0 4em;
  height: 20em;
}
.Miscellaneaous {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speech button {
  background-color: #f19c5d;
  box-shadow: #a3683b 0px 3px 0px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  height: 3em;
  width: 10em;
}
.speech button:active {
  transform: translateY(1px);
  box-shadow: #a3683b 0px 1px 0px;
}
.GB {
  background-image: url("/assets/img/GameBoy/gameboy.png");
  height: 510px;
  width: 365px;
  display: flex;
  justify-content: center;
}
.avatar {
  margin-top: 48px;
}
