#project .contentSection {
  display: flex;
  flex-direction: column;
}
.gallery {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 5em 0;
}
.pagination {
  display: flex;
  gap: 1em;
}
.hidden {
  visibility: hidden;
}
