/* general */
#skill .contentSection {
  flex-direction: column;
  justify-content: space-evenly;
}
.SkillSection {
  display: flex;
  background-color: rgb(85, 85, 85, 0.2);
}
/* Stack */
.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 8em;
  width: 80%;
  border-radius: 25px;
}
.stack {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Network */
.Networks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border-radius: 20px;
  height: 6em;
}
.btnNetworks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.Networks button {
  border: none;
  border-radius: 25px;
}
.btnNetworks button a {
  align-items: center;
  height: 2rem;
  padding: 0 3em;
  display: flex;
}
/* git BTN */
.github {
  background-color: black;
  box-shadow: ivory 0px 2px 0px;
  color: ivory;
}
.github:active {
  transform: translateY(1px);
  box-shadow: ivory 0px 1px 0px;
}
/* linkedIn BTN */
.linkedin {
  background-color: #0f335e;
  color: #6e97d3;
  box-shadow: #6e97d3 0px 2px 0px;
}
.linkedin:active {
  transform: translateY(1px);
  box-shadow: #6e97d3 0px 1px 0px;
}
/* Deviantart BTN */
.deviantart {
  background-color: darkgreen;
  color: lightgreen;
  box-shadow: lightgreen 0px 2px 0px;
}
.deviantart:active {
  transform: translateY(1px);
  box-shadow: lightgreen 0px 1px 0px;
}
/* CV */
.CV {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: ivory;
  border-radius: 20px;
  height: 5em;
  width: 80%;
}
.CV button {
  background-color: rgb(229, 162, 104);
  border: none;
  border-radius: 25px;
  padding: 0 3em;
  height: 2rem;
}
