header {
  position: fixed;
  z-index: 50;
  height: 100vh;
  width: 8em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: rgb(85, 85, 85, 0.2);
}
header img {
  margin-top: 2em;
  border-radius: 50px;
}
