/* btn humburger */
#btn-hamburger {
  position: absolute;
  right: 3em;
  visibility: collapse;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0);
  height: 35px;
  border: none;
}
#btn-hamburger .line {
  display: inline-block;
  height: 4px;
  width: 40px;
  background-color: #fffff4;
}
nav {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffff4;

  gap: 5em;

  width: 100%;
}
.hbg-isOpen {
  visibility: hidden;
}
nav ul li a {
  display: flex;
  flex-direction: column;
}
.navUnderline::after {
  display: inline-block;
  content: " ";
  background-color: #f19c5d;
  height: 3px;
  width: 0%;
  transition: width 0.4s ease-in-out;
}
.navUnderline--expand::after {
  display: inline-block;
  content: " ";
  background-color: #f19c5d;
  height: 3px;
  width: 100%;
}
/* responsiv */
.isOpen {
  visibility: visible;
  transform: translateY(100px);
}
@media (max-width: 1050px) {
  #btn-hamburger {
    visibility: visible;
  }
  nav {
    visibility: hidden;
    transform: translateY(-500px);
    position: absolute;
    top: 0;
    right: 0;
    background-color: #555555;
    width: 250px;
  }
  nav ul {
    padding: 1em 0;
    flex-direction: column;
    gap: 2em;
  }
}
