/* btn humburger */
#btn-hamburger {
  position: absolute;
  right: 3em;
  visibility: collapse;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0);
  transition: transform 0.2s ease-in-out;
  height: 30px;
  border: none;
}
#btn-hamburger .line {
  display: inline-block;
  height: 3px;
  width: 30px;
  background-color: #fffff4;
}
nav {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffff4;
  width: 100%;
  gap: 5em;
}
nav ul li a {
  display: flex;
  flex-direction: column;
}
.navUnderline::after {
  display: inline-block;
  background-color: #f19c5d;
  content: " ";
  transition: width 0.4s ease-in-out;
  height: 3px;
  width: 0%;
}
.navUnderline--expand::after {
  display: inline-block;
  background-color: #f19c5d;
  content: " ";
  height: 3px;
  width: 100%;
}
/* responsiv */
.rotate-hbg {
  transform: rotate(-90deg);
}
.btn-hamburger {
  transform: rotate(0);
}
.isOpen {
  border: 1px solid #666666;
  overflow: hidden;
  width: 250px;
  height: 17em;
}
@media (max-width: 1050px) {
  #btn-hamburger {
    visibility: visible;
  }
  nav {
    background-color: #555555;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(75px);
    transition: height 0.4s ease-in-out;
    border-radius: 0 0 0 20px;
    width: 250px;
    height: 0px;
  }
  nav ul {
    flex-direction: column;
    padding: 1em 0;
    gap: 2em;
  }
}
